@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;	
}

p{
	line-height: 180%;	
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
	padding-right: 10px;
}

.navbar-links li a {
	text-decoration: none;
	color: inherit;
	padding: 5px 20px;
	display: block;	
}

.navbar-links li:hover{
	text-decoration: underline;	
}

.navbar-links ul li a.active {
	background-color: gray;
}

.logo img{
	position: relative;
	width: 30%;
	height: auto;
	margin-left: 10px; 
	background-color:white;
}

/*---toggle button start---*/
.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	margin-top: 15px;	
			
}

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: gray;
	color: gray;
	border-radius: 10px;
}


/*---toggle button end---*/
@media (max-width: 600px) {
	.toggle-button{
		display: flex;		
	}
	.navbar-links{
		display: none;
		width: 100%;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}
	.navbar-links li{
		text-align: center;
	}
	.navbar-links li a {
		padding: .5rem 1rem;
	}
	.navbar-links.active {
		display: flex;
	}
}
 
#toggle {
	position: fixed;
	width: 20px;
	height: 20px;
	cursor: pointer;
	top:50%;
	left: 1vw;	
	border:none;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 50%;
	font-size: 16px;
	text-align: center;
	padding-bottom:  5px;
	z-index: 10;
}


/*---Home start---*/
.mySlides {
	display: none;
}

img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
	padding-top: 20px;
	max-width: 750px;  
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 25px 12px;
	position: absolute;
	top: 0;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

article {	
	text-align: center;
	letter-spacing: normal;
	word-spacing: 0.1em;	
	padding-left: 100px;
	padding-right: 100px;
}


.newsletter form{
	color: black;
	vertical-align: middle;		
}

.newsletter input[type="text"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid black;	
	margin-top: 5px;
	margin-bottom: 16px;
	background-color: white;
	box-sizing: border-box; 
	color: black;	
}
/*---Home end---*/

/*---About me start---*/
.content h1{
	text-align: center;
	padding-top: 30px;	
}

.content p{
	margin: 5px;
	padding: 100px;
	padding-top: 20px;
	text-align: center;
	letter-spacing: normal;
	word-spacing: 0.1em;	
}
.content img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*---About me end---*/

/*contact form start*/


.button{
	position: absolute;
	top: 50%;
	left: 50%
	transform: translate(-50%,-50%);
}

.container{
	border-radius: 4px;
}
	
.container form{
	max-width: 50%;
	height: auto;
	padding: 20px;	
}
h1{
	text-align: center;
	font-weight: 300;
}
form{
	vertical-align: middle;
	padding-top: 20px;
	max-width: 750px;  
	position: relative;
	margin: auto;	
}
.container input[type="text"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid black;	
	margin-top: 5px;
	margin-bottom: 16px;
	background-color: white;
	box-sizing: border-box; 
	color: black;	
}
.container input[type="email"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid black;	
	margin-top: 5px;
	margin-bottom: 16px;
	background-color: white;
	box-sizing: border-box; 
	color: black;	
}

.cotainer input[type="text"]:focus{
	background-color: lightgray;
	border: 1px solid black;
	transition: 0.5s all;
}

.container textarea:focus{
	background-color: white;
	border: 1px solid black;
	transition: 0.6s all;
}
.submit {
	background-color: lightgray;
	color: black;
	padding: 15px;
	border-radius: 4px solid white;
	border: 2px solid black;
	cursor: pointer;
}
.submit:hover {
	background-color: gray;
	transition: 0.6s all;
}
/*---contact form end---*/

/*---portfolio start---*/
.grid {
	border-radius: 4px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;    
    cursor: pointer;

}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    opacity: .6;
    cursor: pointer;
}
@media (max-width: 500px) {
  .grid {
    padding: 8px;
  }
  .gallery {
    flex: 0 1 15%;
  }
}
.gallery-image {
    max-width: 100%;
    margin: 0;
}
/*---portfolio end---*/

/*---Shop start---*/
.content-section {
    margin: 1em;
}

.item {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {    
    text-align: center;   
    font-size:  2em; 
}

.btn-primary {   
	background-color: white; 
    border: 2px bold;
    border-radius: .3em;
    font-weight: bold;
    padding: 5px;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.shop-item-image {
	height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    font-weight: bold;
    
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;

}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;   
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    background-color: #EB5757;
    border: none;
    padding:5px;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
}

.cart-total-price {
   font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    padding:5px;
    font-size: 20px;
}

/*---Shop end---*/



/*footer start*/
footer {
	text-align: center;
	padding: 20px;
}
/*footer end*/

/*---go top---*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 1vh;
	right: 1vw;
	z-index: 99;
	border: none;
	background-color: lightgray;
	color: black;
	font-weight: bolder;
	cursor: pointer;
	padding: 1vw;
	border-radius: 5em;
	width: auto;
}

#myBtn:hover {
	background-color: red;
	color: white;
}
/*---go end---*/

/*---dark mode start---*/
.dark-mode {
	background-color: black;
	color: white;	
}
/*---dark mode end---*/


